---
import { Icon } from 'astro-icon';
import { SITE } from '~/config.mjs';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
}

const { socialLinks = [], secondaryLinks = [] } = Astro.props;
---
<strong style="font-weight: 700;">
<footer class="relative border-t border-gray-300 ">
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      <div class="hidden md:block text-sm mr-4">
        <div class="text-sm text-muted">
          {
            secondaryLinks.map(({ text, href }) => (
              <a
                class="text-muted hover:text-gray-700 transition duration-150 ease-in-out mr-2"
                href={href}
                set:html={text}
              />
            ))
          }
        </div>
      </div>

      <div class="md:flex md:items-center md:ml-auto">
        <div class="hidden md:block items-center mb-2 md:mb-0 md:mr-4">
        {
          socialLinks?.length ? (
            <ul class="flex items-center mb-4 md:order-1 -ml-2 md:ml-0 md:mb-0">
              {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                <li>
                  <a
                    class="text-muted hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 rounded-lg text-sm p-2.5 inline-flex items-center"
                    aria-label={ariaLabel}
                    href={href}
                  >
                    {icon && <Icon name={icon} class="w-5 h-5" />}
                    <Fragment set:html={text} />
                  </a>
                </li>
              ))}
            </ul>
          ) : (
            ''
          )
        }
        </div>

        <div class="items-center mb-2 md:mb-0 md:mr-4 text-center md:text-left">
          <a class="inline-block text-xl" href={getHomePermalink()}>{`${SITE?.name} © 2023`}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
</strong>